<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<style>
  .logo {
    margin-top: 4%;
  }
</style>
<div class="container">

  <div class="row">

    <div class="col-sm-6 col-sm-offset-3">
      <div class="row">

        <div class="col-sm-6">
          <h1>Đổi mật khẩu</h1>
        </div>
        <div class="logo col-sm-6">
          <a href="https://cocobay.vn">
            <img alt="sails.js logo" src="/images/cocobay.png">
          </a>
        </div>
      </div>
      <!-- <p class="text-center"></p> -->
      <label for="account">Tên tài khoản</label>
      <input type="text" class="input-lg form-control" name="account" id="account" disabled='true' autocomplete="off">
      <label for="password1">Nhập mật khẩu mới</label>
      <input type="password" class="input-lg form-control" name="password1" id="password1" placeholder="Mật khẩu mới"
        autocomplete="off">
      <label for="password2">Nhập lại mật khẩu</label>
      <input type="password" class="input-lg form-control" name="password2" id="password2" placeholder="Nhập lại mật khẩu"
        autocomplete="off">
      <div class="row">
        <div class="col-sm-12">
          <span id="pwmatch" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> Trùng khớp
        </div>
      </div>
      <input type="button" class="col-xs-12 btn btn-primary btn-load btn-lg" id="btn-submit" data-loading-text="Thực hiện..."
        value="Thực hiện">

    </div>
    <!--/col-sm-6-->
  </div>
  <!--/row-->

</div>


<script>
  const regTestPass = /^(?=.*\d)(?=.*[a-zA-Z])[a-zA-Z0-9]{6,}$/;
  const urlParams = new URLSearchParams(window.location.search);
  const account = urlParams.get('account') || '';
  const token = urlParams.get('token') || '';
  const type = urlParams.get('type') || '';

  if (!account || !token || !type) {
    window.location.href = '/404'
  }
  $("#account").val(account)
  $("#btn-submit").on('click', (e => {
    let password1 = $("#password1").val(),
      password2 = $("#password2").val();
    if (password1 !== password2 || !password1 || !password2 || !regTestPass.test(password1)) {
      return alert('Mật khẩu phải ít nhất 6 ký tự và bao gồm cả chữ và số!');
    }
    callAjax('/api/auth/change-forget-password', 'POST', {
        'api-version': 'public',
        'content-type': "application/json"
      },
      JSON.stringify({
        account,
        token,
        newPassword: password1,
        type
      }),
      function (result, status, xhr) {
        alert(result.message);
        // window.location.href = 'https://cocobay.vn'
      },
      function (xhr, status, error) {
        // console.log({
        //   xhr,
        //   status,
        //   error
        // })
        if (xhr.status !== 500) {
          alert(xhr.responseJSON.message);
        } else {
          alert('Hệ thống đã xảy ra lỗi, Xin vui lòng thử lại....');
        }
      })
  }))


  $("input[type=password]").keyup(function () {
    if ($("#password1").val() == $("#password2").val()) {
      $("#pwmatch").removeClass("glyphicon-remove");
      $("#pwmatch").addClass("glyphicon-ok");
      $("#pwmatch").css("color", "#00A41E");
    } else {
      $("#pwmatch").removeClass("glyphicon-ok");
      $("#pwmatch").addClass("glyphicon-remove");
      $("#pwmatch").css("color", "#FF0004");
    }
  })

  function callAjax(urlReciver, methodSend, headers, jsonStringSend, successCb, errorCb) {
    var data = (jsonStringSend);
    $.ajax({
      url: urlReciver,
      method: methodSend,
      headers,
      data,
      success: function (result, status, xhr) {
        successCb(result, status, xhr)
      },
      error: function (xhr, status, error) {
        errorCb(xhr, status, error)
      }
    });
  }

</script>
